---
import Layout from '../layouts/Layout.astro';
import OutlineButton from '../components/OutlineIconButton.astro'
import FilledButton from '../components/FilledButton.astro'

import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<Layout title="Luis Gómez - Proyectos">
	<main class="flex flex-col items-center justify-center w-screen mt-36 px-6">
        {
            projects.map(project => {
                const { slug, data } = project;
                const { title, description, technologies, images, previewLink, githubLink } = data;

                return (
                <div class="w-full lg:w-[1024px] p-6 mt-16 border-solid border-secondary-light dark:border-secondary-dark border-2 rounded-3xl flex flex-col lg:flex-row gap-4">
                    <div id="default-carousel" class="relative h-full w-full" data-carousel="static">
                        <div class="relative h-full w-full lg:w-[500px] aspect-[3/2] overflow-hidden rounded-lg">
                            {images.map((image, index) => (
                                <div class={`hidden duration-700 ease-in-out h-full w-full`} data-carousel-item>
                                    <img 
                                        src={image}
                                        class="absolute block w-full h-full object-cover"
                                        alt={title} 
                                    />
                                </div>
                            ))}
                        </div>

                        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                            {images.map((_, index) => (
                                <button 
                                    type="button" 
                                    class="w-3 h-3 rounded-full" 
                                    aria-current={index === 0} 
                                    aria-label={`Slide ${index + 1}`} 
                                    data-carousel-slide-to={index}
                                ></button>
                            ))}
                        </div>

                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-onSurface-light/50 dark:bg-onSurface-dark/50 group-hover:bg-onSurface-dark/80 dark:group-hover:bg-onSurface-dark/80 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-surface-light dark:text-surface-dark rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>

                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-onSurface-light/50 dark:bg-onSurface-dark/50 group-hover:bg-onSurface-light/80 dark:group-hover:bg-onSurface-dark/80 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>

                    <div class="flex flex-col">
                        <a href={`${slug}`} transition:name={`${slug}`}
                            class="text-2xl font-extrabold text-onSurface-light dark:text-onSurface-dark
                                    hover:text-tertiary-light hover:dark:text-tertiary-dark transition-all duration-300 ease-in-out">
                            {title}

                        </a>
                        <span class="text-sm mt-3">{description}</span>
                        <div class="flex flex-row flex-wrap gap-1 mt-3">
                            {technologies.map((technology, index) => (
                                <span class="py-1 px-3 rounded-md text-xs bg-secondaryContainer-light dark:bg-secondaryContainer-dark text-secondary-light dark:text-secondary-dark">{technology}</span>
                            ))}
                        </div>
                        <div class="flex flex-row gap-3 justify-start items-center mt-6">
                            {previewLink !== "" && (
                                <OutlineButton text="Ver demo" icon="icon-eye text-3xl" url={previewLink} />
                            )}
                            {githubLink !== "" && (
                                <OutlineButton text="Github" icon="icon-github text-3xl" url={githubLink} />
                            )}
                            <FilledButton text="Ver mas" icon="icon-info text-3xl" url={`${slug}`} />
                        </div>
                    </div>
                </div>

                )
            })
        }
	</main>
</Layout>
