---
interface Props {
    nombreEmresa: string,
    duracion:string,
    departamento:string,
    cargo:string,
    tecnologias:string
}

const { nombreEmresa, duracion, departamento, cargo, tecnologias } = Astro.props
---

<li class="mt-3 text-outline-light dark:text-outline-dark">
    <h2 class="text-lg font-bold text-onSurface-light dark:text-onSurface-dark"><span>{nombreEmresa}</strong></h2>
    <p><span class="font-semibold">Duración: </span>{duracion}</p>
    <p><span class="font-semibold">Departamento: </span>{departamento}</p>
    <p><span class="font-semibold">Cargo: </span>{cargo}</p>
    <p><span class="font-semibold">Tecnologías utilizadas: </span>{tecnologias}</p>
</li>