---
import '../../public/icomoon/style.css'
import OutlineButton from './OutlineIconButton.astro'
import FilledButton from './FilledButton.astro'

interface Props {
    title: string;
    description: string;
    img: string;
    usa_demo: boolean;
    usa_github: boolean;
    url_demo: string;
    url_github: string;
}

const { title, description, img, usa_demo, usa_github, url_demo, url_github } = Astro.props;
---

<div class="flex flex-col gap-3 justify-between h-full">
    <div class="p-6 mt-5 border-solid border-secondary-light dark:border-secondary-dark border-2 rounded-3xl flex flex-col gap-4">
        <div class=`w-full aspect-[3/2] rounded-xl`>
            <img src={img} alt="nnn" class="rounded-xl">
        </div>
        <div class="flex flex-col">
            <h3 class="text-onSurface-light dark:text-onSurface-dark text-xl">{title}</h3>
            <span class="text-xs md:text-sm">{description}</span>
        </div>
        <div class="flex flex-row gap-3 justify-end items-center mt-6">
            { usa_github && (
            <OutlineButton text="Github" icon="icon-github text-3xl" url={url_github}/>
            )}
            { usa_demo && (
                <OutlineButton text="Ver demo" icon="icon-eye text-3xl" url={url_demo} />
            )}
            <FilledButton text="Ver mas" icon="icon-info text-3xl" url='' />
        </div>
    </div>
</div>