---
import '../../public/icomoon/style.css'
import ProjectItem from './ProjectItem.astro'
import Title from './Title.astro'
import OutlineButton from './OutlineIconButton.astro'
import FilledButton from './FilledButton.astro'
---

<section id="projects" class="seccion flex flex-col justify-center items-center w-full 2xl:w-[1536px] px-9 mt-16">
    <div class="flex flex-col justify-around items-center w-full gap-1">
        <Title label="Proyectos" dev={false}/>
        <a href="" class="text-md border-b-2 pb-1 border-surface-light dark:border-surface-dark hover:text-onSurface-light hover:dark:text-onSurface-dark hover:border-onSurface-light hover:dark:border-onSurface-dark transition-all duration-500 ease-in-out">Ver todos los proyectos</a>
    </div>

    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-6 w-full">
        
        <ProjectItem 
            title="Dos Tragos" 
            description="Desarrollo de una página web estática y responsiva para un emprendimiento de venta de cócteles. Guayaquil - Ecuador." 
            img="./static/dos-tragos.png"
            usa_demo={true}
            usa_github={true}
            url_demo="https://dos-tragos.vercel.app/"
            url_github='https://github.com/luis-gomez-91/dos-tragos' />

        <ProjectItem 
            title="API Sistema contable ITB" 
            description="API que usa el sistema contable para realizar las importaciónes - SGA ITB, SGA ITB Online, Conduce Ecuador, Educacion Continua ITB."
            img="./static/api1.png"
            usa_demo={true}
            usa_github={false}
            url_demo="https://sga.itb.edu.ec/api?a=facturacionNewProcess&fecha=06-09-2024&caja=164"
            url_github='' />

        <ProjectItem 
            title="App móvil ITB" 
            description="Este proyecto consiste en el desarrollo de una aplicación móvil multiplataforma, destinada al uso de alumnos y docentes del ITB."
            img="./static/app.png"
            usa_demo={false}
            usa_github={true}
            url_demo="https://dos-tragos.vercel.app/"
            url_github='https://github.com/luis-gomez-91/app-ITB-KMM' />

                    <!-- <h3 class="text-onSurface-light dark:text-onSurface-dark text-xl">Gestión de certificados.</h3>
                    <span>Este proyecto tiene como objetivo automatizar la generación de certificados para los congresos realizados ITB y UBE.</span> -->

    </div>

    

</section>

<style>
.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
</style>

<script>
    // Obtener el contenedor que tiene el scroll horizontal
    const scrollContainer = document.getElementById('scroll-container');
    
    // Botón para desplazarse hacia la izquierda
    document.getElementById('scroll-left').addEventListener('click', () => {
        scrollContainer.scrollBy({ left: -300, behavior: 'smooth' }); // Mover a la izquierda
    });
    
    // Botón para desplazarse hacia la derecha
    document.getElementById('scroll-right').addEventListener('click', () => {
        scrollContainer.scrollBy({ left: 300, behavior: 'smooth' }); // Mover a la derecha
    });
</script>